# Ignore raw and processed data
data/raw/
data/processed/
data/outputs/
data/resources/

# Ignore temporary and intermediate files
*.tmp
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore large binary files
*.tif
*.csv
*.rds
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.qpj





# Ignore system or editor-specific files
.DS_Store
.Rproj.user/

